#header{
  padding: 2em;
  border-color: yellow;
  background-color: orange;
}

#header h1{
  text-align: center;
  color:blue;
}

#left{
  border: 1px solid black;
  margin: 10px;
}

.post{
  border: 1px solid black;
  margin: 10px;
}

#main {
  display: flex;
  flex-direction: row;
}

#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
